[user]
  name = Leo Cassarani
  email = leo.cassarani@me.com
[alias]
  s = status
  ci = commit
  co = checkout
  continue = rebase --continue
  di = diff
  dc = diff --cached
  amend = commit --amend
  aa = add --all
  r = !git l -30
  l = log --graph --abbrev-commit --date=relative
  pom = push origin master
  b = branch
[core]
  editor = vim -f
  quotepath = false
  autocrlf = input
  excludesfile = ~/.gitignore_global
[color]
  ui = auto
[format]
  pretty = format:%C(yellow)%h%Creset -%C(red)%d%Creset %s %Cgreen(%ar) %C(bold blue)<%an>%Creset
[github]
  user = leocassarani
[merge]
  conflictstyle = diff3
